.card-item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
    transition: 0.2s;
}

.card-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0,0,0, 0.5);
}

.card-btn {
    width: 80%;
    margin-bottom: 2%;
    
}

.card-btn, .modal-btn button {
    padding: 2%;
    text-align: center;
    color: #000;
    background-color: #009DFF;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.modal-content {
    display: flex;
    flex-direction: row;
}

.modal-info h2 {
    text-align: center;
}

.modal-info p {
    text-align: justify;
    letter-spacing: 3px;
    padding: 2%;
    height: 30vh;
}

.modal-btn {
    position: relative;
    width: 100%;
    height: 30vh;
}

.modal-btn button {
    position: absolute;
    top: 80%;
    right: 0;
}