.App {
    font-family: sans-serif;
    text-align: center;
}

.animes-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style: none;
    grid-gap: 1.5rem;
} 

.btn-search {
    width: 90px;
    height: 30px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #009DFF;
    outline: none;
}

